
/* --- Header About ---- */
#about {
    position: relative;
}

#about .leafs {
    margin: 0;
    height: 10rem;
    width: 100%;
}

#about .about-profile {
    flex-direction: column;
}

.about-profile .about-profilePhoto {
    width: 25rem;
    height: 25rem;
    border: 10px double var(--color-border);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 6px 4px 4px 1px rgba(0, 0, 0, 0.2);

    margin-bottom: .8rem;    
}

.about-profile .about-profilePhoto img {
    width: 100%;
}

#about .about-profile h1 {
    font-size: 3.2rem;
    line-height: 42px;
    margin-bottom: 1.6rem;
    color: var(--color-text-title);
}

.about-profile blockquote p {
    font-size: 1.6rem;
    color: var(--color-text-gray);
}

.about-profile blockquote small {
    color: var(--color-logo);
    display: inline-block;
    text-align: right;
    width: 100%;
}


/* --- Personal Information --- */
.about-personal-information {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    color: var(--color-base-font);

    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.about-personal-information .about-fullname,
.about-personal-information .about-age,
.about-personal-information .about-location,
.about-personal-information .about-me,
.about-personal-information .about-hobby,
.about-personal-information .about-language {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

#about .about-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-block-icon);
    margin-right: 1.6rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-icon ion-icon{
    font-size: 3rem;
}

.about-personal-information .about-fullname p {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-base-font);
}

.about-personal-information .about-age p {
    font-weight: bold;
    color: var(--color-text-title);
}

.about-personal-information .about-age #about-AgeCurrent {
    font-weight: 400;    
}

.about-personal-information .about-me p {
    width: 90%;
}


.about-personal-information .about-language .languages{
    display: flex;
}

.about-language .languages .language {
    display: flex;
}

.about-language .languages .language p {
    margin-right: .8rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 26px;
    color: var(--color-text-title);
}

.about-language .languages .language span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
}

.about-language .languages .language + .language {
    padding-left: 1.6rem;
    margin-left: 1.6rem;
    border-left: 3px solid var(--color-block-icon);
}

/* --- Formation ---- */
.about-formation {
    padding: 3.2rem;

    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
}

.about-formation .about-university {
    width: 90%;
    margin-bottom: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-formation .about-university h4 {
    color: var(--color-text-title);
}

.about-formation .about-formation-course {
    width: 90%;
    color: var(--color-text-title);
    margin-bottom: .8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-formation p:nth-child(3) {
    color: var(--color-block-icon);
    font-weight: 700;
    margin-bottom: .8rem;
}

.about-formation ul {
    width: 90%;
    columns: 2;

    list-style-type: none;
    list-style-position: inside;
    font-size: 1.5rem;
}

.about-formation ul li {
    position: relative;
    padding-left: 1.4rem;

    font-style: italic;
}

.about-formation ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    
    background-color: var(--color-block-icon);
    
    position: absolute;
    left: 0;
    top: 8px;
}

.about-formation ul li + li {
    margin-top: .8rem;
}

/* --- Courses ---- */
.about-courses {
    width: 90%;
    padding: 3.2rem;
}

.about-courses .about-course-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: .4rem;
    color: var(--color-text-title);
}

.about-courses .about-course-description {
    margin-bottom: 3.2rem;
}

.about-courses .about-course-description h3 {
    color: var(--color-block-icon);
}

.about-courses .about-course-description .learned {
    font-weight: 600;
    font-style: italic;
}

