
/* --- Header About ---- */
#about {
    position: relative;
}

#about .about-profile {
    flex-direction: column;
}

.about-profile .about-profilePhoto {
    width: 25rem;
    height: 25rem;
    border: 10px double var(--color-border);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 6px 4px 4px 1px rgba(0, 0, 0, 0.2);

    margin-bottom: .8rem;

}

.about-profile .about-profilePhoto img {
    width: 100%;
}

#about .about-profile h1 {
    font-size: 3.2rem;
    line-height: 42px;
    margin-bottom: 1.6rem;
    color: var(--color-text-title);
}

.about-profile blockquote p {
    font-size: 1.6rem;
    color: var(--color-text-gray);
}

.about-profile blockquote small {
    color: var(--color-logo);
    display: inline-block;
    text-align: right;
    width: 100%;
}


/* --- Personal Information --- */
.about-personal-information {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    color: var(--color-base-font);

    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.about-personal-information .about-fullname,
.about-personal-information .about-age,
.about-personal-information .about-location,
.about-personal-information .about-me,
.about-personal-information .about-hobby {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

#about .about-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-block-icon);
    margin-right: 1.6rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-icon ion-icon{
    font-size: 3rem;
}

.about-personal-information .about-fullname p {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-base-font);
}

.about-personal-information .about-age p {
    font-weight: bold;
    color: var(--color-text-title);
}

.about-personal-information .about-age #about-AgeCurrent {
    font-weight: 400;    
}

.about-personal-information .about-me p {
    width: 90%;
}

.about-personal-information .about-hobby {
    margin-bottom: 0;
}

/* --- Formation ---- */
.about-formation {
    padding: 3.2rem;
}

.about-formation .about-university {
    width: 90%;
    margin-bottom: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-formation .about-university h4 {
    color: var(--color-text-title);
}

.about-formation .about-formation-course {
    width: 90%;
    color: var(--color-text-title);
    margin-bottom: .8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

