@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    /* --- fonts --- */ 
    --font-base: 'Poppins', sans-serif;
    --font-logo-firstName: 'Raleway', sans-serif;
    --font-logo-lastName: 'Water Brush', cursive;


    /* --- Colors --- */
    --color-logo: #00a8ff;
    --color-base-font: #021826;
    --color-font-nav: #0a3140;
    --color-font-nav-hover: #91c4d9;
    --color-btn-cv: #245c73;
    --color-btn-cv-hover: #428ba8;
    --color-footer: #0a3140;
    --color-bg-profilePhoto: #00a8ff;
    --color-sectionHome: rgba(145, 196, 217, 0.2);
    --color-border: #245c73;
    --color-text-title: #245c73;
    --color-text-gray: #777;
    --color-block-icon: #00a8ff;

    font-size: 62.50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-base);
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    padding: 3.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
}

header .logo p {
    font-family: var(--font-logo-firstName);
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
}

header .logo p::first-letter {
    font-size: 2.5rem;
    color: var(--color-logo);
}

header .logo p #middleName {
    font-family: var(--font-logo-lastName);
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--color-logo);

    position: absolute;
    bottom: -20px;
    right: -15px;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style-type: none;
    position: relative;
    margin: 0 1.6rem;
}

nav .menu li::before  {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--color-font-nav-hover);

    position: absolute;
    bottom: 0;

    transition: width 250ms ease-in;
}

nav .menu li a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-font-nav);

    transition: color 250ms ease;
}

nav .menu li a:hover {
    color: var(--color-font-nav-hover);
}

nav .menu li a.active {
    color: var(--color-font-nav-hover);
}

nav .menu li:hover::before {
    width: 100%;
}

footer {
    margin-top: auto;
    padding: 2.4rem;
    text-align: center;
    background-color: var(--color-footer);
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    color: white;
    font-size: 1.8rem;
}