#home {
    background-color: var(--color-sectionHome);

    width: 100%;
    max-width: 140rem;
    height: 70vh;
    margin: 3.2rem auto 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.3);
    border-radius: .4rem;

    transform: translateX(-5rem);

    animation-name: sliderHome;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes sliderHome {
    to {
        transform: translateX(0);
    }
}

#home .contentHome {
    padding: 3.2rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .contentHome .fullNameHome {
    margin-bottom: 1.6rem;
}

#home .contentHome .fullNameHome h1 {
    font-size: 8rem;
    font-family: var(--font-logo-firstName);
    line-height: 8rem;
    color: var(--color-base-font);
}

#home .contentHome .fullNameHome h1::first-letter {
    color: var( --color-logo);
} 

#home .contentHome .fullNameHome span {
    color: var(--color-logo);
    font-family: var(--font-logo-lastName);
    padding-left: 20rem;
}


#home .contentHome .descriptionHome p{
    font-size: 2.4rem;
    color: var(--color-base-font);
}

#home .contentHome .descriptionHome .btnCv {
    width: 25rem;
    margin-top: 4rem;
    display: block;
    background-color: var(--color-btn-cv);
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
    padding: .8rem 1.6rem;
    border-radius: 10px;
    text-align: center;

    transition: all 250ms ease-in-out;
}

#home .contentHome .descriptionHome .btnCv:hover {
    background-color: var(--color-btn-cv-hover);
}

#home .picturesHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .imageProfileHome {
    width: 45rem;
    height: 45rem;
    background-color: var( --color-logo);
    position: relative;
    overflow: hidden;
    border-radius: 30% 0% 30% 0;
}

#home .imageProfileHome img {
    width: 100%;
    position: absolute;
    top: -120px;
    background-color: var(--color-bg-profilePhoto);
}