{% extends "layout.njk" %}

{% block content %}
     <section id="home">

            <div class="contentHome">
                <div class="fullNameHome">
                    <h1>Weverson <span>Diazz</span></h1>
                </div>

                <div class="descriptionHome">
                    <p>
                        Olá, tudo bem?
                        Iniciante nessa jornada de desenvolvimento, com foco na arte do Frontend!
                    </p>
                    <a href="./assets/WeversonDiazz.pdf" download="WeversonDiazz.pdf" type="application/pdf" class="btnCv">Download CV</a>
                </div>
            </div>

            <div class="picturesHome">
                <div class="imageProfileHome">
                    <img src="./assets/images/wv_photo03.png" alt="foto pessoal de perfil">
                </div>
            </div>

        </section>
{% endblock %}