{% extends "layout.njk" %}

{% block content %}
     <section id="home">

            <div class="contentHome">
                <div class="fullNameHome">
                    <h1>Weverson <span>Diazz</span></h1>
                </div>

                <div class="descriptionHome">
                   <p>Olá, tudo bem?</p>
                   <p class="emphasis">Desenvolvedor Frontend JR</p>
                    <a href="/contact"  class="btn">Contato</a>
                </div>
            </div>

            <div class="picturesHome">
                <div class="imageProfileHome">
                    <img src="./assets/images/wv_photo03.png" alt="foto pessoal de perfil">
                </div>
            </div>

        </section>
{% endblock %}