{% extends "layout.njk" %}

{% block Styles %}
    <link rel="stylesheet" href="./css/portfolio.css">
{% endblock %}

{% block content %}
    <section id="portfolio">         
            <div class="portfolio-header">
                <h1>Projetos</h1>
                <div class="total-projects">                    
                    <ion-icon name="folder-outline"></ion-icon>
                    <div class="quantity-projects">
                        <span>{{ repositories.length }}</span>
                        <p>repositórios</p>
                    </div>
                </div>
            </div>

            <div class="leafs">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>

            <div class="portfolio-repositories">

                {% for repository in repositories %}
                    <div class="portfolio-repository">
                        <div class="portfolio-repository-icon">
                            <ion-icon name="reader-outline"></ion-icon>
                        </div>
                        <div class="portfolio-description">
                            <h2>{{ repository.name }}</h2>
                            
                            {% if repository.description ===  null %}
                                <p>O projeto está sem descrição</p>
                            {% else %}
                                <p>{{ repository.description }}</p>
                            {% endif %}
                            <a href="{{ repository.html_url }}" target="_blank" rel="noopener noreferrer">
                                Veja mais
                                <ion-icon name="log-out-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                               
                
            </div>
            {# <a href="#topo" class="btn-back">
                <span>Voltar</span>
                <ion-icon name="caret-up-outline"></ion-icon>
            </a> #}
            {% include "parts/button-float.njk"%}
        </section>
{% endblock %}       

  
