<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.: Diazz | Portfolio :.</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    
    <!--CSS-->
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/portfolio.css">
</head>
<body>
    <div class="container">
        <header id="topo">
            <div class="logo">
                <a href="/home.html">
                    <p>Weverson <span id="middleName">Diazz</span></p>
                </a>
            </div>

            <nav>
                <ul class="menu">
                    <li><a href="/home.html">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/portfolio.html">Portfolio</a></li>
                    <li><a href="/skills.html">Skills</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section id="portfolio">         
            <div class="portfolio-header">
                <h1>Projetos</h1>
                <div class="total-projects">                    
                    <ion-icon name="folder-outline"></ion-icon>
                    <div class="quantity-projects">
                        <span>30</span>
                        <p>repositórios</p>
                    </div>
                </div>
            </div>

            <div class="leafs">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>

            <div class="portfolio-repositories">

                <div class="portfolio-repository">
                    <div class="portfolio-repository-icon">
                        <ion-icon name="reader-outline"></ion-icon>
                    </div>
                   <div class="portfolio-description">
                        <h2>Nome do Repositório</h2>
                        <p>Descrição do projeto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime reiciendis quaerat dignissimos quia molestiae quo nulla veniam est laborum repudiandae tempore, enim recusandae vel!</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            Veja mais
                            <ion-icon name="log-out-outline"></ion-icon>
                        </a>
                   </div>
                </div>

                <div class="portfolio-repository">
                    <div class="portfolio-repository-icon">
                        <ion-icon name="reader-outline"></ion-icon>
                    </div>
                   <div class="portfolio-description">
                        <h2>Nome do Repositório</h2>
                        <p>Descrição do projeto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime reiciendis quaerat dignissimos quia molestiae quo nulla veniam est laborum repudiandae tempore, enim recusandae vel!</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            Veja mais
                            <ion-icon name="log-out-outline"></ion-icon>
                        </a>
                   </div>
                </div>

                <div class="portfolio-repository">
                    <div class="portfolio-repository-icon">
                        <ion-icon name="reader-outline"></ion-icon>
                    </div>
                   <div class="portfolio-description">
                        <h2>Nome do Repositório</h2>
                        <p>Descrição do projeto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime reiciendis quaerat dignissimos quia molestiae quo nulla veniam est laborum repudiandae tempore, enim recusandae vel!</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            Veja mais
                            <ion-icon name="log-out-outline"></ion-icon>
                        </a>
                   </div>
                </div>

                <div class="portfolio-repository">
                    <div class="portfolio-repository-icon">
                        <ion-icon name="reader-outline"></ion-icon>
                    </div>
                   <div class="portfolio-description">
                        <h2>Nome do Repositório</h2>
                        <p>Descrição do projeto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maxime reiciendis quaerat dignissimos quia molestiae quo nulla veniam est laborum repudiandae tempore, enim recusandae vel!</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            Veja mais
                            <ion-icon name="log-out-outline"></ion-icon>
                        </a>
                   </div>
                </div>
                
                
            </div>
        </section>

    </div>
    <footer>
        <small>&copy; Copyright by Diazz - <span id="yearCurrent"></span></small>
        <div class="dark-mode">
            <input type="checkbox" name="darkmode" id="darkmode">
            <label for="darkmode" class="sun">
                <ion-icon name="sunny-outline"></ion-icon>
            </label>
            <label for="darkmode" class="moon">
                <ion-icon name="moon-outline"></ion-icon>
            </label>
        </div>
    </footer>

    <!--JS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/repositories.js"></script>
</body>
</html>