{% extends "layout.njk" %}

{% block Styles %}
    <link rel="stylesheet" href="./css/portfolio.css">
{% endblock %}

{% block content %}
    <section id="portfolio">         
            <div class="portfolio-header">
                <h1>Projetos</h1>
                <div class="total-projects">                    
                    <ion-icon name="logo-github"></ion-icon>
                    <div class="quantity-projects">
                        <span>{{ repositories.length }}</span>
                        <p>repositórios</p>
                    </div>
                </div>
            </div>

            <div class="leafs">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>

            <div id="portfolio-content">
                <section class="portfolio-project">
                    <div class="box-arrow-border"></div>
                    <h2>DevFinances</h2>
                    <div class="project-content">
                        <div class="project-description">
                            <p>
                                Um projeto simples utilizando HTML5, CSS3 e Javascript com foco no Front-end, desenvolvido durante a maratona Discovery da <a href="https://www.rocketseat.com.br/" target="_blank">rocketseat</a>. Utilizando o básico do conhecimento web e boas práticas de desenvolvimento, realizando um registro de dados no próprio navegador por meio do LocalStorage.
                            </p>
                        </div>
                        <div class="project-image">
                            <img src="./assets/images/portfolio/project01.png" alt="devfinance - projeto 01">
                        </div>
                    </div>
                    <div class="project-footer">
                        <div class="project-technology">
                            <h3>Tecnologias em destaque</h3>
                            <div class="box-technology">
                                <div class="item-tech">
                                    <img src="./assets/images/icon_html5.svg" alt="logo HTML5">
                                </div>
                                <div class="item-tech">
                                    <img src="./assets/images/icon_css3.svg" alt="logo CSS3">
                                </div>
                                <div class="item-tech">
                                    <img src="./assets/images/icon_javascript.svg" alt="logo Javascript">
                                </div>
                            </div>
                        </div>
                        <div class="buttons-project-footer">                            
                            <a href="https://wevdiaz.github.io/DevFinances" target="_blank" class="btn-project">acesse</a>
                            <a href="https://github.com/wevdiaz/DevFinances" target="_blank" class="btn-project">code | <ion-icon name="logo-github"></ion-icon></a>
                        </div>                       
                    </div>

                     <div class="leafs">
                        <div class="leaf"></div>
                        <div class="leaf"></div>
                        <div class="leaf"></div>
                    </div>
                </section>
                <section class="portfolio-project">
                    <div class="box-arrow-border"></div>
                    <h2>DevFinances</h2>
                    <div class="project-content">
                        <div class="project-description">
                            <p>
                                Um projeto simples utilizando HTML5, CSS3 e Javascript com foco no Front-end, desenvolvido durante a maratona Discovery da <a href="https://www.rocketseat.com.br/" target="_blank">rocketseat</a>. Utilizando o básico do conhecimento web e boas práticas de desenvolvimento, realizando um registro de dados no próprio navegador por meio do LocalStorage.
                            </p>
                        </div>
                        <div class="project-image">
                            <img src="./assets/images/portfolio/project01.png" alt="devfinance - projeto 01">
                        </div>
                    </div>
                    <div class="project-footer">
                        <div class="project-technology">
                            <h3>Tecnologias em destaque</h3>
                            <div class="box-technology">
                                <div class="item-tech">
                                    <img src="./assets/images/icon_html5.svg" alt="logo HTML5">
                                </div>
                                <div class="item-tech">
                                    <img src="./assets/images/icon_css3.svg" alt="logo CSS3">
                                </div>
                                <div class="item-tech">
                                    <img src="./assets/images/icon_javascript.svg" alt="logo Javascript">
                                </div>
                            </div>
                        </div>
                        <div class="buttons-project-footer">                            
                            <a href="https://wevdiaz.github.io/DevFinances" target="_blank" class="btn-project">acesse</a>
                            <a href="https://github.com/wevdiaz/DevFinances" target="_blank" class="btn-project">code | <ion-icon name="logo-github"></ion-icon></a>
                        </div>
                    </div>

                     <div class="leafs">
                        <div class="leaf"></div>
                        <div class="leaf"></div>
                        <div class="leaf"></div>
                    </div>
                </section>
            </div>
            
            {% include "parts/button-float.njk"%}
        </section>
{% endblock %}       

  
