{% extends "layout.njk" %}

{% block Styles %}
    <link rel="stylesheet" href="./css/skill.css">
{% endblock %}

{% block content %}
     <section id="skill">

            <div class="skill-cards"> 
                <div class="skill-card">
                    <div class="card-icon">
                        <ion-icon name="construct-outline"></ion-icon>
                    </div>
                    <h1>Hard Skills</h1>
                    <p>Hard Skills desenvolvidas e em evolução</p>
                    <a href="#HardSkill" class="btn-skills" data-skills="HardSkill">Detalhes</a>
                </div> 
                <div class="skill-card">
                    <div class="card-icon">
                        <ion-icon name="diamond-outline"></ion-icon>
                    </div>
                    <h1>Soft Skills</h1>
                    <p>Soft Skills desenvolvidas e em evolução</p>
                    <a href="#SoftSkill" class="btn-skills" data-skills="SoftSkill">Detalhes</a>
                </div>   
                <div class="skill-card">
                    <div class="card-icon">
                        <ion-icon name="images-outline"></ion-icon>
                    </div>
                    <h1>Galeria</h1>
                    <p>Algumas atividades desenvolvidas na web</p>
                    <a href="#GallerySkill" class="btn-skills" data-skills="SoftSkill">Detalhes</a>
                </div>            
            </div>

            <div class="leafs">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            
            <div class="skill-hardskill" id="HardSkill">
                <h2>Hard Skill</h2>
                <div class="hardskill-bars">
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_html5.svg" alt="icone HTML" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="80"></meter><span>80%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_css3.svg" alt="icone CSS" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="68"></meter><span>68%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_javascript.svg" alt="icone Javascript" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="56"></meter><span>56%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_React.svg" alt="icone React js" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="30"></meter><span>36%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_nodejs.svg" alt="icone Nodejs" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="45"></meter><span>45%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_typescript.svg" alt="icone Typescript" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="20"></meter><span>20%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_express.svg" alt="icone Express" />                     
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="49"></meter><span>49%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_bootstrap.svg" alt="icone Bootstrap" />
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="22"></meter><span>22%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_tailwindcss.svg" alt="icone Tailwindcss" />
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="32"></meter><span>32%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_sqlite.svg" alt="icone Sqlite" />
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="28"></meter><span>28%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_postgresql.svg" alt="icone Postgresql" />
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="28"></meter><span>28%</span>
                        </p>
                    </div>
                    <div class="hardskill-bar">
                        <img src="./assets/images/icon_mongodb.svg" alt="icone Mongodb" />
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="28"></meter><span>17%</span>
                        </p>
                    </div>                   
                </div>
                <a href="#topo" class="btn-back">
                    <span>Voltar</span>
                    <ion-icon name="caret-up-outline"></ion-icon>
                </a>
            </div>

            <div class="skill-softskill" id="SoftSkill">
                <h2>Soft Skill</h2>
                <div class="softskill-bars">
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Empatia e Ética no Trabalho</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="97"></meter><span>97%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Organização e Planejamento</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="85"></meter><span>85%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Resolução de Problemas</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="95"></meter><span>95%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Trabalho em Equipe</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="98"></meter><span>98%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Comunicação</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="90"></meter><span>90%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Resiliência</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="93"></meter><span>93%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Criatividade</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="87"></meter><span>87%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Proativo</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="94"></meter><span>94%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Pensamento Crítico</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="79"></meter><span>79%</span>
                        </p>
                    </div>
                    <div class="softskill-bar">
                        <div class="softskill-ability">
                            <span class="softskill-icon">
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <p>Honestidade</p>                    
                        </div>
                        <p class="skill-meter">
                            <meter min="0"  max="100" value="99"></meter><span>99%</span>
                        </p>
                    </div>

                </div>
                <a href="#topo" class="btn-back">
                    <span>Voltar</span>
                    <ion-icon name="caret-up-outline"></ion-icon>
                </a>
            </div>

            <div class="gallery-skill" id="GallerySkill">
                <h2>Galeria de Atividades</h2>
                <div class="gallery-image-selected" id="image-selected">
                    <img src="./assets/images/project/NewsArtStore.png" alt="imagem do projeto">
                </div>

                <div class="gallery-images">
                    <div class="gallery-image actived">
                        <img src="./assets/images/project/NewsArtStore.png" alt="imagem do projeto">
                    </div>
                    <div class="gallery-image">
                        <img src="./assets/images/project/academy_lessons.png" alt="imagem do projeto">
                    </div>
                    <div class="gallery-image">
                        <img src="./assets/images/project/Ecoleta.png" alt="imagem do projeto">
                    </div>
                    <div class="gallery-image">
                        <img src="./assets/images/project/Foodfy.png" alt="imagem do projeto">
                    </div>
                    <div class="gallery-image">
                        <img src="./assets/images/project/rocket_Q.png" alt="imagem do projeto">
                    </div>
                </div>
                <a href="#topo" class="btn-back">
                    <span>Voltar</span>
                    <ion-icon name="caret-up-outline"></ion-icon>
                </a>
            </div>

        </section>
{% endblock %}


{% block script %}    
    <script src="./js/gallery.js"></script>
{% endblock %} 
    