#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4rem;

}

#contact .leafs {
    margin: 3rem 0;
    height: 0;
}

#contact .contact-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 8px;

    position: absolute;
    z-index: -1;
    bottom: -10px;
    right: -10px;
}

#contact .contact-container {
    max-width: 96rem;
    height: 50rem;

    display: flex;
    position: relative;  
}


.contact-container .photo-contact {
    background-image: url(../assets/images/profile_contact0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 100%;
}

.contact-details {
    padding: 3.2rem;
    background-color: var(--color-card);
}

.contact-details h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 3.2rem;
    color: var(--color-primary);
}

.contact-details p {
    color: var(--color-border);
    margin-bottom: 3.2rem;
    color: #fff;
}

.contact-details .email ion-icon, 
.contact-details .city ion-icon {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-card);
}

.contact-details .email,
.contact-details .city {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;

    background-color: #fff;
    padding: .8rem 1.6rem;
    border-radius: 2rem;
}

.contact-details .email a,
.contact-details .city span {
    margin-left: 1.6rem;
    font-size: 1.8rem;
    color: var(--color-primary);
}

.contact-details .social-media {
    margin-top: 3.2rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 6.4rem;
}

.contact-details .social-media a ion-icon {
    font-size: 4rem;
    color: #fff;
    transition: .5s;
}

.contact-details .social-media a ion-icon:hover {
    color: var(--color-primary);
}

/* Responsive */

@media (max-width: 1100px) {
    #contact .contact-container {
        width: 80rem;
    }

    .contact-details .social-media {
        padding-bottom: 5rem;
    }

    #contact .leafs {
        width: 100%;
    }
}

@media (max-width: 900px) {
    #contact .contact-container {
        width: 65rem;
    }

    .contact-container .photo-contact {        
        width: 100%;
    }

    .contact-details h1 {
        font-size: 3rem;        
    }

    .contact-details .social-media a ion-icon {
        font-size: 3rem;        
    }
}

@media (max-width: 735px) {

    #contact .contact-container {
        width: 32rem;
        height: max-content;
    }

    .contact-container .photo-contact {
        display: none;
    }

    .contact-details {
        padding: 1.6rem;
    }

    .contact-details h1 {
        font-size: 2rem;
    }

    .contact-details p {        
        font-size: 1.4rem;
    }

    .contact-details .email ion-icon, .contact-details .city ion-icon {
        font-size: 2rem;        
    }

    .contact-details .email a, .contact-details .city span {        
        font-size: 1.4rem;
    }

    .contact-details .social-media {
        margin-bottom: 2rem;
    }

    #contact .contact-container::before {
        display: none;
    }

    #contact .leafs {
        margin: 2rem 0;
    }

    #contact .leafs .leaf {
        width: 3rem;
        height: 3rem;
    }
}