@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    /* --- fonts --- */ 
    --font-base: 'Poppins', sans-serif;
    --font-logo-firstName: 'Raleway', sans-serif;
    --font-logo-lastName: 'Water Brush', cursive;


    /* --- Colors --- */
    --color-primary: #00a8ff;
    --color-secondary: #0a3140;
    --color-auxiliary: #245c73;
    --color-logo: var(--color-primary);
    --color-base-font: #021826;
    --color-font-nav: var(--color-secondary);
    --color-font-nav-hover: #91c4d9;
    --color-btn-cv: var(--color-auxiliary);
    --color-btn-cv-hover: #428ba8;
    --color-footer: var(--color-secondary);
    --color-bg-profilePhoto: var(--color-primary);
    --color-sectionHome: rgba(145, 196, 217, 0.2);
    --color-border: var(--color-auxiliary);
    --color-text-title: var(--color-auxiliary);
    --color-text-gray: #777;
    --color-block-icon: var(--color-primary);
    --color-card: var(--color-secondary);
    --color-icon-sun: #EE5A24;
    --color-icon-moon: #fff200;

    /* Dark Theme Colors */
    --color-bg-dark: #17202A ;

    font-size: 62.50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-base); 
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto 4rem;   
}

.leafs {
    width: 90%;
    height: 20rem;
    margin: 7.2rem auto 2.4rem;
    padding-top: .8rem;
    border-top: 4px solid var(--color-primary);
    opacity: 0.2;

    display: flex;
    justify-content: right;
    gap: 16px;
}

.leafs .leaf {
    width: 5rem;
    height: 5rem;
    border-radius: 50% 0;
    background-color: var(--color-primary);
}

header {
    width: 100%;
    padding: 3.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
}

header .logo p {
    font-family: var(--font-logo-firstName);
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
}

header .logo p::first-letter {
    font-size: 2.5rem;
    color: var(--color-logo);
}

header .logo p #middleName {
    font-family: var(--font-logo-lastName);
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--color-logo);

    position: absolute;
    bottom: -20px;
    right: -15px;
}

nav {
    display: flex;
    align-items: center;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style-type: none;
    position: relative;
    margin: 0 1.6rem;
}

nav .menu li::before  {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--color-font-nav-hover);

    position: absolute;
    bottom: 0;

    transition: width 250ms ease-in;
}

nav .menu li a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-font-nav);

    transition: color 250ms ease;
}

nav .menu li a:hover {
    color: var(--color-font-nav-hover);
}

nav .menu li a.active {
    color: var(--color-font-nav-hover);
}

nav .menu li:hover::before {
    width: 100%;
}

nav .menu-mobile {
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-primary);
    display: none;
    cursor: pointer;    
}

footer {
    margin-top: auto;
    padding: 1.6rem;
    text-align: center;
    background-color: var(--color-footer);
    width: 100%;   

    color: white;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer small {
    flex: 1;
}

/* Btn Back */
.btn-back {
    width: 11rem;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--color-btn-cv);
    color: #fff;
    margin: 4.2rem auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
    transition: .3s ease-in;
}

.btn-back:hover {
    background-color: var(--color-btn-cv-hover);
}


/* Dark Mode */

footer .dark-mode {
    width: 10rem;
}

.dark-mode input[name="darkmode"] {
    display: none;
}

.dark-mode .sun,
.dark-mode .moon {
    font-size: 2rem;
    cursor: pointer;
}

.sun {
    color: var(--color-icon-sun);
}

.moon {
    color: var(--color-icon-moon);
    display: none;
}

.dark .moon {
    display: block;
}

.dark .sun {
    display: none;
}

body.dark {
    background-color: var(--color-bg-dark);
    color: #fff;
}

.dark header .logo p {
    color: #fff;
}

.dark nav .menu li a {
    color: #fff;
}

.dark nav .menu li a:hover {
    color: var(--color-font-nav-hover);
}

.dark nav .menu li a.active {
    color: var(--color-font-nav-hover);
}
.dark footer {
    background-color: #111;
    color: var(--color-primary);
}


/* Responsive */

@media (max-width: 900px) {
    nav .menu {
        display: none;
    }

    nav .menu-mobile {
        display: flex;
    }

    nav .menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
        
        width: 100%;
        height: 100%;
        background-color: #efefef;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
    }

    .dark nav .menu.active {
        background-color: var(--color-bg-dark);
    }

    .btn-back {
        width: 10rem;        
        font-size: 1.4rem;        
    }
}