#portfolio {
    padding: 3.2rem 3.2rem 0;
}

#portfolio .leafs {
    margin: 0;
    height: 10rem;
    width: 100%;
}

.portfolio-header {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.portfolio-header h1 {
    font-size: 3.2rem;
    font-family: var(--font-logo-firstName);
    color: var(--color-text-title);
}

.portfolio-header .total-projects {
    background-color: var(--color-primary);
    padding: 1.6rem 3.2rem;
    color: #fff;
    border-radius: 3rem;

    display: flex;
    align-items: center;
}

.portfolio-header .total-projects ion-icon {
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 1rem;
    padding-right: 1rem;
    color: #fff;
    border-right: 3px solid #fff;
}

.portfolio-header .total-projects span {
    font-weight: bold;
    margin-right: .4rem;
}

.portfolio-header .quantity-projects {
    display: flex;
}

.portfolio-repositories {
    padding: .8rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portfolio-repositories  .portfolio-repository {
    display: flex;   
    margin-bottom: 2rem;
    height: 37rem;
}

.portfolio-repository .portfolio-repository-icon {
    width: 10rem;
    background-color: var(--color-text-title);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 1rem 0 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-repository .portfolio-description {
    padding: 1.6rem;
    background-color: beige;
    border-radius: 0 1rem 1rem 0;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.portfolio-repository .portfolio-description h2 {
    font-size: 2rem;
    line-height: 30px;
    color: var(--color-primary);
    margin-bottom: .8rem;
}

.portfolio-repository .portfolio-description p {
    font-size: 1.6rem;
    line-height: 26px;
    color: var(--color-base-font);
    opacity: 0.7;
    margin-bottom: 3rem;
}

.portfolio-repository .portfolio-description a {
    background-color: var(--color-btn-cv);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    width: 13rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    border-radius: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color .5s;
}

.portfolio-repository .portfolio-description a:hover {
    background-color: var(--color-btn-cv-hover);
}

.portfolio-repository .portfolio-description a ion-icon {
    font-size: 2rem;
}

/* Dark Theme */

.dark .portfolio-header h1 {
    color: var(--color-primary);
}

.dark .portfolio-repository .portfolio-description {
    background-color: #AEB6BF ;
}

.dark .portfolio-repository .portfolio-description h2 {
    color: var(--color-text-title);
}


/* Responsive */

@media (max-width: 900px) {
    .portfolio-repositories {        
        grid-template-columns: 1fr;
    }   
}

@media (max-width: 500px) {

    #portfolio {
        padding: 2rem 2rem 0;
    }

    .portfolio-header h1 {
        font-size: 2rem;        
    }

    .portfolio-header {        
        flex-wrap: wrap;
        gap: 16px;
    }

    .portfolio-header .total-projects {
        padding: 1.6rem 2rem;        
    }

    .portfolio-header .total-projects ion-icon {
        font-size: 2rem;        
    }

    .portfolio-header .quantity-projects {
        font-size: 1.4rem;
    }

    #portfolio .leafs {        
        height: 7rem;
    }

    #portfolio .leafs .leaf {
        width: 3rem;
        height: 3rem;        
    }

    .portfolio-repositories {
        padding: 0;       
    }

    .portfolio-repositories .portfolio-repository {        
        flex-direction: column;
        width: 250px;
    }

    .portfolio-repository .portfolio-repository-icon {
        width: 100%;        
        font-size: 2.4rem;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        align-items: left;
        padding: 0.8rem;
        justify-content: left;
    }

    .portfolio-repository .portfolio-description p {
        font-size: 1.4rem;
        line-height: 24px;        
    }

    .portfolio-repository .portfolio-description a {        
        padding: 1.4rem;
        width: 11rem;
        font-size: 1rem;        
    }
}