<footer>
    <small>&copy; Copyright by Diazz - <span id="yearCurrent"></span></small>
    <div class="dark-mode">
        <input type="checkbox" name="darkmode" id="darkmode">
        <label for="darkmode" class="sun">
            <ion-icon name="sunny-outline"></ion-icon>
        </label>
        <label for="darkmode" class="moon">
            <ion-icon name="moon-outline"></ion-icon>
        </label>
    </div>
</footer>