<header id="topo">
    <div class="logo">
        <a href="/">
            <p>Weverson <span id="middleName">Diazz</span></p>
        </a>
    </div>

    <nav>
        <div class="menu-mobile">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <ul class="menu active">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>